{
  "singleQuote": true,
  "semi": true,
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(tanstack/(.*)$)|^(tanstack$)",
    "",
    "^(contexts/(.*)$)|^(contexts$)",
    "",
    "^(services/(.*)$)|^(services$)",
    "",
    "^(views/(.*)$)|^(views$)",
    "",
    "^(hooks/(.*)$)|^(hooks$)",
    "",
    "^(schemas/(.*)$)|^(schemas$)",
    "^(types/(.*)$)|^(types$)",
    "",
    "^(utils/(.*)$)|^(utils$)",
    "",
    "^(mocks/(.*)$)|^(mocks$)",
    "",
    "^(components/(.*)$)|^(components$)",
    "",
    "^(styles/(.*)$)|^(styles$)",
    "",
    "^(lucide-react/(.*)$)|^(lucide-react$)",
    "",
    "^[./]",
    ""
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
